html {
    scroll-behavior: smooth;

    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;;
}

p {
  margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;

    font: inherit;
    color: inherit;

    background: transparent;
    border: none;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.container {
    max-width: 1580px;
    margin: 0 auto;
}
