.descriptionLayoutBlock {
    display: flex;
    justify-content: space-between;

    padding-top: 55px;
}

.detailsTitle {
    margin: 0;
    padding-bottom: 30px;

    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.inputStyle {
    margin-bottom: 20px;
}

.button {
    cursor: pointer;

    width: 506px;
    height: 45px;

    background: #319F1C;
    box-shadow: 0px 4px 8px #64BC45;
    border-radius: 3px;

    color: white;
}

.descriptionLayout {
    width: 604px;
    height: 224px;
}

.descriptionText {
    width: 604px;
    height: 224px;
}

@media screen and (max-width: 1500px){
    .descriptionLayoutBlock {
        flex-direction: column;
        align-items: center;
        padding-top: 400px;
    }
    .detailsTitle {
        padding-top: 30px;
        text-align: center;
    }
}
