.item {
    width: 100%;
    height: 640px;
}

.nameItem {
    margin: 0;

    padding: 69px 0 78px 0;

    font-weight: 900;
    font-size: 38px;
    line-height: 52px;
}

.descriptionBlock {
    display: flex;
}

.scroll {
    position: absolute;
}

.scrollItem {
    position: relative;
    top: 73px;
}

.imageBlock {
    display: flex;
}

.verticalImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 21px 0 30px;
}

.info {
    padding-left: 99px;
}

.infoList {
    width: 505px;
    padding: 0 0 99px 0;
}

.itemInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    font-weight: 500;
    line-height: 21px;
}

.panelBlock {
    position: fixed;
    right: 0;
    top: 245px;

    z-index: 1;
}

.panelItem {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 87px;
    height: 64px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px 0px 0px 3px;
}

.priceBlock {
    width: 239px;
    height: 81px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #319F1C;
    border-radius: 3px;
}

.priceText {
    font-weight: 500;
    line-height: 21px;

    padding-right: 16px;
}

.price {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;

    color: #319F1C;
}
