.navList {
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 268px 0 268px;

    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 1.47%, rgba(163, 210, 155, 0.92) 7.25%, #319F1C 14.68%, #309E1B 50.68%, #319F1C 84.33%, rgba(147, 202, 137, 0.79) 91.68%, rgba(246, 246, 246, 0) 99.05%);
}

.itemList {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.arrowNav {
    padding-left: 10px;
}
